html {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--current-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quoteBox {
  background-color: #fff;
  padding: 30px;
  width: 70%;
  max-width: 700px;
  border-radius: 5px;
}

.quoteBox .quote {
  color: var(--current-color);
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.quoteBox .author {
  color: var(--current-color);
  font-weight: 500;
  text-align: right;
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.quoteBox .fa-quote-left {
  position: relative;
  top: 34px;
  color: var(--current-color);
  font-size: 32px;
}

.quoteBox .fa-quote-right {
  position: relative;
  bottom: 23px;
  float: right;
  color: var(--current-color);
  font-size: 32px;
}

.quoteBox .btns {
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.quoteBox .btn {
  background-color: var(--current-color);
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-top: 16px;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.quoteBox .tweet {
  background: transparent;
  color: var(--current-color);
}
